.full-height {
  height: 100%;
}

.no-margin {
  margin: 0;
}

.mtb-sm {margin: 5px 0;}
.mtb-md {margin: 8px 0;}
.mtb-lg {margin: 12px 0;}

.mlr-sm {margin: 0 5px;}
.mlr-md {margin: 0 8px;}
.mlr-lg {margin: 0 12px;}

.mt-none {margin-top: 0;}
.mb-none {margin-top: 0;}
.ml-none {margin-top: 0;}
.mr-none {margin-top: 0;}
