.loading {
  z-index: 1;
  background: white;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.mtb-sm {margin: 5px 0;}
.mtb-md {margin: 8px 0;}
.mtb-lg {margin: 12px 0;}

.mlr-sm {margin: 0 5px;}
.mlr-md {margin: 0 8px;}
.mlr-lg {margin: 0 12px;}

.mt-none {margin-top: 0;}
.mb-none {margin-top: 0;}
.ml-none {margin-top: 0;}
.mr-none {margin-top: 0;}

.mt-sm {margin-top: 5px;}
.mt-md {margin-top: 8px;}
.mt-lg {margin-top: 12px;}

.mr-sm {margin-right: 5px;}
.mr-md {margin-right: 8px;}
.mr-lg {margin-right: 12px;}

.mb-sm {margin-bottom: 5px;}
.mb-md {margin-bottom: 8px;}
.mb-lg {margin-bottom: 12px;}

.ml-sm {margin-left: 5px;}
.ml-md {margin-left: 8px;}
.ml-lg {margin-left: 12px;}
